
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
html,
body {
display: grid;
height: 100%;
width: 100%;
font-family: "Poppins", sans-serif;
background-image: url('https://images.thrillophilia.com/image/upload/s--bfQhngUq--/c_fill,f_auto,fl_strip_profile,h_775,q_auto,w_1600/v1/images/photos/000/112/360/original/1568804002_India_Gate.jpg.jpg?1568804002');
/* background-repeat: no-repeat;
background-size: 100% 100%; */
}
.topnav {
overflow: hidden;
background-color: #333;
height: fit-content;
}
.topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}
.topnav a:hover {
background-color: #ddd;
color: black;
}
.topnav a.active {
background-color: #1877F2;
color: white;
}
